{% extends 'dashboard/base.html' %}
<!-- Titulo de la pagina -->
{%block title%} Facturas {%endblock%}


<!-- Contenido -->
{%block titulo_seccion%} Facturas {%endblock%}

{%block contenido%}
{% if messages %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% endfor %}

{% endif %}
{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" role="alert">
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" id="buscar" required>
    </div>
</div>
<table class="table">
    <thead class="thead-entel">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Giro</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cliente</th>
            <th scope="col">Estado Factura</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody id="tabla">
        {%if facturas %}
        {% for factura in facturas %}
        <tr>

            <th scope="row">{{factura.idfactura}}</th>
            <td>{{factura.giro}}</td>
            <td>{{factura.fechafactura|date:'Y-m-d'}}</td>
            <td>{{factura.cliente}}</td>
            <td>
                
                {%if factura.estadofactura.idestado == 1%}
                <h6><span class="badge badge-danger">{{factura.estadofactura.descripcion}}</span></h6>
                {%endif%}
                {%if factura.estadofactura.idestado == 2%}
                <h6><span class="badge badge-success">{{factura.estadofactura.descripcion}}</span></h6>
                {%endif%}
                {%if factura.estadofactura.idestado == 3 or factura.estadofactura.idestado == 4 %}
                <h6><span class="badge badge-warning">{{factura.estadofactura.descripcion}}</span></h6>
                {%endif%}
                
                
                
                
            
            </td>
            <td>
                {%if factura.estadofactura.idestado == 1 and user.tipousuario.idtipousuario == 3 %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#detalleModal{{factura.idfactura}}">
                    <i class="fas fa-wallet"></i>
                </button>
                {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#detalleModal{{factura.idfactura}}">
                    <i class="fas fa-edit"></i>
                </button>
                {% endif %}



                <div class="modal fade" id="detalleModal{{factura.idfactura}}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">


                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Detalle de la factura: {{factura.idfactura}} </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>




                            {%if user.tipousuario.idtipousuario == 3 and factura.estadofactura.idestado == 1 %}
                            <form 
                            
                            action="{% url 'pago factura' factura.idfactura %}" 
                            method="GET">

                            {% endif %}
                            {%if user.tipousuario.idtipousuario == 2 %}
                            <form 
                            
                            action="{% url 'pago factura' factura.idfactura %}" 
                            method="POST">

                            {% endif %}

                            {%if user.tipousuario.idtipousuario == 3 and factura.estadofactura.idestado == 2  %}
                            <form 
                            
                            action="{% url 'factura pdf' factura.idfactura %}" 
                            method="GET">
                            {% endif %}
                                {% csrf_token %}
                                <!-- Modal body -->


                                <div class="modal-body">
                                    <table class="table" id="table{{factura.idfactura}}">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Huesped</th>
                                                <th scope="col">Servicio</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Costo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for detalle in detalles %}
                                            {%if detalle.factura.idfactura == factura.idfactura%}
                                            <tr>
                                                <th scope="row">{{detalle.iddetalle}}</th>
                                                <td>{{detalle.huesped}}</td>
                                                {%if detalle.detallereserva == null %}
                                                <td>{{detalle.solicitudcompra}}</td>
                                                <td>{{detalle.solicitudcompra.cantidad}}</td>
                                                {%else%}
                                                <td>{{detalle.detallereserva}}</td>
                                                <td>{{detalle.detallereserva.dias}} Dias</td>
                                                {%endif%}
                                                <td>${{detalle.total}}</td>
                                            </tr>
                                            {%endif%}
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                    <div class="card-header"><h5>Subtotal: ${{factura.subtotal}} </h5></div>
                                    
                                    <div class="card-header"><h5>IVA 19%: ${{factura.iva}} </h5></div>
                                    
                                    <div class="card-header"><h5>Total: ${{factura.total}} </h5></div>
                                    


                                </div>
                                <!-- Modal footer  -->
                                <div class="modal-footer">
                                    {%if factura.estadofactura.idestado == 1 and user.tipousuario.idtipousuario == 3 %}
                                    <button type="submit" class="btn btn-primary">Pagar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    {% else %}
                                    {%if user.tipousuario.idtipousuario == 2  %}
                                    {%if factura.estadofactura.idestado == 3 or factura.estadofactura.idestado == 4  %}
                                    <button type="submit" class="btn btn-primary">Confirmar Pago</button>
                                    {% endif %}
                                    {% endif %}
                                    {%if factura.estadofactura.idestado == 2 and user.tipousuario.idtipousuario == 3 %}
                                    <button type="submit" class="btn btn-primary">Descargar Factura</button>
                                    {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                    {% endif %}
                                </div>
                            </form>





                        </div>
                    </div>
                </div>

            </td>
        </tr>

        {% endfor %}
        {% else %}
        <h1>No existen registros</h1>
        {% endif %}

    </tbody>

</table>

{%endblock%}

{%block scripts%}

<script>
    $(document).ready(function () {

        $("#buscar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{%endblock%}