{% extends 'dashboard/base.html' %}
<!-- Titulo de la pagina -->
{%block title%} Seleccione Medio de Pago {%endblock%}


<!-- Contenido -->
{%block titulo_seccion%} Seleccione Medio de Pago {%endblock%}

{%block contenido%}
{% if messages %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% endfor %}

{% endif %}
{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" role="alert">
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

<div class="container center">
	<div class="row h-100">
		<div class=" mx-auto paymentCont">
						<div class="paymentWrap">
							<div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                                <form method="POST">
                                    {% csrf_token %}
					            <label class="btn paymentMethod active">
					            	<div class="method transferenciabancaria"></div>
					                <input type="radio" name="options" value="3" checked> 
					            </label>
					            <label class="btn paymentMethod">
					            	<div class="method pagopresencial"></div>
					                <input type="radio" name="options" value="4"> 
					            </label>
					            
					         
					        </div>        
						</div>
						<div class="footerNavWrap clearfix">
							<div class="btn btn-success pull-left btn-fyi"><span class="glyphicon glyphicon-chevron-left"></span> Volver al listado de facturas</div>
                            <button type="submit" class="btn btn-success pull-right btn-fyi">PAGAR</button>
                        </form>
						</div>
					</div>
		
	</div>
</div>



{%endblock%}

{%block scripts%}



{%endblock%}