{% extends 'login/index.html' %}
<p>recuperar password</p>
{% block titulo %}
Doña Clarita - Recuperar Contraseña
{% endblock %}
{% block contenido_login %}

<div  class="container password-reset">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6 text-center">
          
            <h1><i class="fas fa-key"></i></h1>

            <h1 class="login-title text-center">Recuperar Contraseña</h1>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Correo">
              </div>

              <div class="login-wrapper w-100">
                <input name="login" type="submit" id="login" class="btn btn-block login-btn"  value="Enviar">
              </div>
              
              
            </form>
            <a href="{% url 'login' %}" class="forgot-password-link">Volver al login.</a>
            {%if form.errors%}
             
              <div class="alert alert-danger" role="alert">
                Ingrese un correo valido.
              </div>
             
              {% endif%}
    
        </div>
      </div>
</div>


{% endblock %}
