{%load menu%}
<div class="categoria">
    <span>Dashboard</span>
</div>
<a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action {% active 'dashboard' %}"><i
        class="fas fa-home"></i><span> Inicio</span></a>
<div class="categoria">
    <span>Huesped</span>
</div>
<a href="{% url 'reservar habitacion' %}"
    class="list-group-item list-group-item-action {% active 'reservar habitacion' %}"><i
        class="fas fa-calendar-plus"></i><span> Reservar Habitacion</span></a>

<div class="categoria">
    <span>Factura</span>
</div>
<a href="{% url 'listar facturas emitidas' %}" class="list-group-item list-group-item-action {% active 'listar facturas emitidas' %}"><i
        class="fas fa-receipt"></i><span> Facturas</span></a>

        <div class="categoria">
            <span>Informes</span>
        </div>
        
        <a href="{% url 'informes' %}" class="list-group-item list-group-item-action {% active 'informes' %}"><i
                class="fas fa-file-excel"></i><span> Informes</span></a>