{%load menu%}

<div class="p-margin">
    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#dashboard" role="button" aria-expanded="false"
                aria-controls="dashboard">Dashboard</a>
        </div>

        <div class="collapse {% show 'dashboard' %}" id="dashboard">
            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action {% active 'dashboard' %}"><i
                    class="fas fa-home"></i><span> Inicio</span></a>
        </div>
    </p>

    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#huesped" role="button" aria-expanded="false"
                aria-controls="dashboard">Huesped</a>
        </div>

        <div class="collapse {% show 'reservar habitacion' %}" id="huesped">
            <a href="{% url 'reservar habitacion' %}"
                class="list-group-item list-group-item-action {% active 'reservar habitacion' %}"><i
                    class="fas fa-calendar-plus"></i><span> Reservar Habitacion</span></a>
        </div>
    </p>

    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#factura" role="button" aria-expanded="false"
                aria-controls="dashboard">Factura</a>
        </div>

        <div class="collapse {% show 'listar facturas emitidas' %}" id="factura">
            <a href="{% url 'listar facturas emitidas' %}"
                class="list-group-item list-group-item-action {% active 'listar facturas emitidas' %}"><i
                    class="fas fa-receipt"></i><span> Facturas</span></a>
        </div>
    </p>

    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#informes" role="button" aria-expanded="false"
                aria-controls="dashboard">Informes</a>
        </div>

        <div class="collapse {% show 'informes' %}" id="informes">
            <a href="{% url 'informes' %}" class="list-group-item list-group-item-action {% active 'informes' %}"><i
                    class="fas fa-file-excel"></i><span> Informes</span></a>
        </div>
    </p>
</div>