{%load menu%}
<div class="p-margin">
    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#dashboard" role="button" aria-expanded="false"
                aria-controls="dashboard">Dashboard</a>
        </div>

        <div class="collapse {% show 'dashboard' %}" id="dashboard">
            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action {% active 'dashboard' %}"><i
                    class="fas fa-home"></i><span> Inicio</span></a>
        </div>
    </p>

    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#huesped" role="button" aria-expanded="false"
                aria-controls="dashboard">Huesped</a>
        </div>

        <div class="collapse {% show 'asignar habitacion' %} {% show 'nueva solicitud compra' %}" id="huesped">
            <a href="{% url 'asignar habitacion' %}"
                class="list-group-item list-group-item-action {% active 'asignar habitacion' %}"><i
                    class="fas fa-calendar-plus"></i><span> Asignar Habitacion</span></a>

            <a href="{% url 'nueva solicitud compra' %}"
                class="list-group-item list-group-item-action {% active 'nueva solicitud compra' %}"><i
                    class="fas fa-utensils"></i><span> Nueva Compra</span></a>
        </div>
    </p>

    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#factura" role="button" aria-expanded="false"
                aria-controls="dashboard">Factura</a>
        </div>

        <div class="collapse {% show 'emitir factura' %} {% show 'listar facturas emitidas' %} " id="factura">
            <a href="{% url 'emitir factura' %}"
                class="list-group-item list-group-item-action {% active 'emitir factura' %}"><i
                    class="fas fa-receipt"></i><span> Emitir Factura</span></a>

            <a href="{% url 'listar facturas emitidas' %}"
                class="list-group-item list-group-item-action {% active 'listar facturas emitidas' %}"><i
                    class="fas fa-table"></i><span> Facturas</span></a>
        </div>
    </p>
    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#producto" role="button" aria-expanded="false"
                aria-controls="dashboard">Producto</a>
        </div>

        <div class="collapse {% show 'listar proveedor' %} {% show 'listar pedidos' %} " id="producto">
            <a href="{% url 'listar proveedor' %}"
                class="list-group-item list-group-item-action {% active 'listar proveedor' %}"><i
                    class="fas fa-cart-plus"></i><span> Solicitar Producto</span></a>

            <a href="{% url 'listar pedidos' %}"
                class="list-group-item list-group-item-action {% active 'listar pedidos' %}"><i
                    class="fas fa-table"></i><span> Ver Solicitudes</span></a>
        </div>
    </p>
    <p>
        <div class="categoria">
            <a data-toggle="collapse" href="#informes" role="button" aria-expanded="false"
                aria-controls="dashboard">Informes</a>
        </div>

        <div class="collapse {% show 'informes' %}" id="informes">
            <a href="{% url 'informes' %}" class="list-group-item list-group-item-action {% active 'informes' %}"><i
                    class="fas fa-file-excel"></i><span> Informes</span></a>
        </div>
    </p>
</div>