{%load menu%}




<div class="p-margin">
  <p>
    <div class="categoria">
        <a data-toggle="collapse" href="#dashboard" role="button" aria-expanded="false"
            aria-controls="dashboard">Dashboard</a>
    </div>

    <div class="collapse {% show 'dashboard' %}" id="dashboard">
        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action {% active 'dashboard' %}"><i
                class="fas fa-home"></i><span> Inicio</span></a>
    </div>
</p>

<p>
    <div class="categoria">
        <a data-toggle="collapse" href="#producto" role="button" aria-expanded="false"
            aria-controls="dashboard">Producto</a>
    </div>

    <div class="collapse {% show 'listar pedidos' %}" id="producto">
        <a href="{% url 'listar pedidos' %}" class="list-group-item list-group-item-action {% active 'listar pedidos' %}"><i
            class="fas fa-calendar-plus"></i><span> Ver Solicitudes</span></a>
    </div>
</p>

<p>
    <div class="categoria">
        <a data-toggle="collapse" href="#informes" role="button" aria-expanded="false"
            aria-controls="dashboard">Informes</a>
    </div>

    <div class="collapse {% show 'informes' %}" id="informes">
        <a href="{% url 'informes' %}" class="list-group-item list-group-item-action {% active 'informes' %}"><i
            class="fas fa-file-excel"></i><span> Informes</span></a>
    </div>
</p>  
</div>

