<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
	<tr>
		<td style="background-color: #ffffff; text-align: center; padding-left: 40%">
			<a href="#">
				<img width="20%" style="display:block; margin: 1.5% 3%" src="https://i.postimg.cc/JhWQ8Ch6/logonofondo.png">
			</a>
		</td>
	</tr>

	<tr>
		
	</tr>
	
	<tr>
		<td style="background-color: #ffffff">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
				<h2 style="color: #4ba4d8; margin: 0 0 7px">Hola!</h2>
				<p style="margin: 2px; font-size: 15px">
                    Se ha contactado un cliente desde el sitio web con los siguientes datos:</p>
                    <ul style="font-size: 15px;  margin: 10px 0">
                        <li>Nombre: {{nombre}}</li>
                        <li>Correo:: {{correo}}</li>
                        <li>Rut Empresa: {{rut_empresa}}</li>
                        <li>Nombre Empresa: {{nombre_empresa}}</li>
                        <li>Rubro: {{rubro}}</li>
                        <li>Direccion: {{direccion}}</li>
                        <li>Telefono: {{telefono}}</li>
                        <li>Mensaje: {{mensaje}}</li>
                    </ul>
				
				
				
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">Hostal Doña Clarita - Duoc UC</p>
			</div>
		</td>
	</tr>
</table>