<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
	<tr>
		<td style="background-color: #ffffff; text-align: center; padding-left: 40%">
			<a href="#">
				<img width="20%" style="display:block; margin: 1.5% 3%" src="https://i.postimg.cc/JhWQ8Ch6/logonofondo.png">
			</a>
		</td>
	</tr>

	<tr>
		
	</tr>
	
	<tr>
		<td style="background-color: #ffffff">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
				<h2 style="color: #4ba4d8; margin: 0 0 7px">Hola {{nombre_cliente}}!</h2>
				<p style="margin: 2px; font-size: 15px">
					A continuacion adjuntamos su factura, gracias por su compra!</p>
				
				
				
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">Hostal Doña Clarita - Duoc UC</p>
			</div>
		</td>
	</tr>
</table>