{% extends 'dashboard/base.html' %}
<!-- Titulo de la pagina -->
{%block title%} Asignar Habitacion {%endblock%}


<!-- Contenido -->
{%block titulo_seccion%} Asignar Habitacion {%endblock%}

{%block contenido%}
{% if messages %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% endfor %}

{% endif %}
{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" role="alert">
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" id="buscar" required>
    </div>
</div>
<table class="table">
    <thead class="thead-entel">
        <tr>
            <th scope="col">#</th>
            <th scope="col">RUT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Fecha Reserva</th>
            <th scope="col">Fecha Fin Reserva</th>
            <th scope="col">Habitacion</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody id="tabla">
        {%if huespedes %}
        {% for huesped in huespedes %}
        <tr>

            <th scope="row">{{huesped.idhuesped}}</th>
            <td>{{huesped.rut}}</td>
            <td>{{huesped.nombre}}</td>
            <td>{{huesped.apellidopaterno}}</td>
            <td>{{huesped.apellidomaterno}}</td>
            <td>{{huesped.fechadesde|date:'Y-m-d'}}</td>
            <td>{{huesped.fechahasta|date:'Y-m-d'}}</td>
            {%if huesped.habitacion == null %}
            <td>No asignada</td>
            {% else %}
            <td>{{huesped.habitacion.numero}}</td>
            {% endif %}
            <td>
                {%if huesped.habitacion == null %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#reservaModal{{huesped.idhuesped}}">
                    <i class="fas fa-plus"></i>
                </button>
                {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#reservaModal{{huesped.idhuesped}}">
                    <i class="fas fa-edit"></i>
                </button>
                {% endif %}



                <div class="modal fade" id="reservaModal{{huesped.idhuesped}}">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Asignar Habitacion Huesped: {{huesped.nombre}}
                                    {{huesped.apellidopaterno}} </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>





                            <form 
                            {%if huesped.habitacion != null %}
                            action="{% url 'asignar habitacion huesped' huesped.idhuesped %}" 
                            {% endif %}
                            method="POST">
                                {% csrf_token %}
                                <!-- Modal body -->


                                <div class="modal-body">

                                    <input name="huesped" type="hidden" value="{{huesped.idhuesped}}">
                                    <div class="form-group">
                                        <label for="vendedor">Habitacion</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-hotel"></i></span>
                                            </div>
                                            <select class="form-control" name="habitacion" readonly>
                                                {% for habitacion in habitaciones %}
                                                <option value="{{habitacion.idhabitacion}}"> {{habitacion.numero}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!-- Modal footer  -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Asignar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </form>





                        </div>
                    </div>
                </div>

            </td>
        </tr>

        {% endfor %}
        {% else %}
        <h1>No existen registros</h1>
        {% endif %}

    </tbody>

</table>

{%endblock%}

{%block scripts%}

<script>
    $(document).ready(function () {

        $("#buscar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{%endblock%}