{% extends 'dashboard/base.html' %}
{%load menu%}
<!-- Titulo de la pagina -->
{%block title%} Solicitudes de Productos {%endblock%}


<!-- Contenido -->
{%block titulo_seccion%}Solicitudes de Productos {%endblock%}

{%block contenido%}
{% if messages %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% endfor %}

{% endif %}
{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" role="alert">
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

      <div class="row">
      <div class="col-md-8">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Buscar" id="buscar" required>
            </div>
        </div>
      </div>
      
          
      <div class="col-md-2">
        <form method="GET">
        <div class="form-group">
            

           
            <select class="form-control" name="estado">
                <option></option>
                {% for estado in estados%}
              <option>{{estado}}</option>
              {%endfor%}
            </select>
          </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Filtrar Solicitudes</button>
      </div>
    </form>
  </div>



<table class="table">
    <thead class="thead-entel">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha Pedido</th>
            <th scope="col">Empleado</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Estado Pedido</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody id="tabla">
        {%if pedidos %}
        {% for pedido in pedidos %}
        <tr>

            <th scope="row">{{pedido.idpedido}}</th>
            <td>{{pedido.fechapedido|date:'Y-m-d'}}</td>
            <td>{{pedido.empleado}}</td>
            <td>{{pedido.observaciones}}</td>
            <td>
                {%if pedido.estadopedido.idestado == 1 or pedido.estadopedido.idestado == 2 %}
                <h6><span class="badge badge-warning">{{pedido.estadopedido}}</span></h6>
                {%endif%}

                {%if pedido.estadopedido.idestado == 3%}
                <h6><span class="badge badge-success">{{pedido.estadopedido}}</span></h6>
                {%endif%}

                {%if pedido.estadopedido.idestado == 4%}
                <h6><span class="badge badge-danger">{{pedido.estadopedido}}</span></h6>
                {%endif%}


            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#pedidos{{pedido.idpedido}}">
                    <i class="fas fa-plus"></i>
                </button>

                <div class="modal fade" id="pedidos{{pedido.idpedido}}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">


                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Detalle Pedido: {{pedido.idpedido}}
                                </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <form action="{% url 'administrar solicitud' pedido.idpedido %}" method="POST">
                                <div class="modal-body">

                                    <table class="table" style="width: 100%">

                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Producto</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Total</th>
                                                {% if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2 %}
                                                <th scope="col">Fecha Vencimiento</th>
                                                <th scope="col">Opciones</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for detalle in detalles %}




                                            {%if detalle.pedido.idpedido == pedido.idpedido and detalle.estado.idestado == 3 and detalle.pedido.estadopedido.idestado == 1 %}
                                            <tr>
                                                <th scope="row">{{detalle.idedetalle}}</th>
                                                <td>{{detalle.producto}}</td>
                                                <td>{{detalle.cantidad}}</td>
                                                <td>${{detalle.total}}</td>
                                                {% if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2 %}
                                                <td>

                                                    <div class="form-group">
                                                        <input type="date" class="form-control"
                                                            name="date{{detalle.idedetalle}}">
                                                    </div>
                                                </td>
                                                <td>

                                                    <input type="checkbox" name="chkAceptar[]" id="chk{{detalle.idedetalle}}"
                                                        value="{{detalle.idedetalle}}" checked data-toggle="toggle"
                                                        data-on="Aceptar  " data-off="Rechazar  " data-onstyle="success"
                                                        data-offstyle="danger" data-size="small">


                                                </td>
                                                {% endif %}

                                            </tr>
                                            {%endif%}

                                            {%if detalle.pedido.idpedido == pedido.idpedido and detalle.estado.idestado == 2 and detalle.pedido.estadopedido.idestado == 1 %}
                                            <tr>
                                                <th scope="row">{{detalle.idedetalle}}</th>
                                                <td>{{detalle.producto}}</td>
                                                <td>{{detalle.cantidad}}</td>
                                                <td>${{detalle.total}}</td>
                                                {% if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2 %}
                                                <td>

                                                    <div class="form-group">
                                                        <input type="date" class="form-control"
                                                            name="date{{detalle.idedetalle}}">
                                                    </div>
                                                </td>
                                                <td>

                                                    <input type="checkbox" name="chkAceptar[]" id="chk{{detalle.idedetalle}}"
                                                        value="{{detalle.idedetalle}}" checked data-toggle="toggle"
                                                        data-on="Aceptar  " data-off="Rechazar  " data-onstyle="success"
                                                        data-offstyle="danger" data-size="small">


                                                </td>
                                                {% endif %}

                                            </tr>
                                            {%endif%}

                                            {%if detalle.pedido.idpedido == pedido.idpedido and detalle.estado.idestado == 3 and detalle.pedido.estadopedido.idestado == 2 %}
                                            <tr>
                                                <th scope="row">{{detalle.idedetalle}}</th>
                                                <td>{{detalle.producto}}</td>
                                                <td>{{detalle.cantidad}}</td>
                                                <td>${{detalle.total}}</td>
                                                {% if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2 %}
                                                <td>

                                                    <div class="form-group">
                                                        <input type="date" class="form-control"
                                                            name="date{{detalle.idedetalle}}">
                                                    </div>
                                                </td>
                                                <td>

                                                    <input type="checkbox" name="chkAceptar[]" id="chk{{detalle.idedetalle}}"
                                                        value="{{detalle.idedetalle}}" checked data-toggle="toggle"
                                                        data-on="Aceptar  " data-off="Rechazar  " data-onstyle="success"
                                                        data-offstyle="danger" data-size="small">


                                                </td>
                                                {% endif %}

                                            </tr>
                                            {%endif%}

                                            {%if detalle.pedido.idpedido == pedido.idpedido and detalle.pedido.estadopedido.idestado == 3 %}
                                            <tr>
                                                <th scope="row">{{detalle.idedetalle}}</th>
                                                <td>{{detalle.producto}}</td>
                                                <td>{{detalle.cantidad}}</td>
                                                <td>${{detalle.total}}</td>
                                                {% if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2 %}
                                                <td>

                                                    <div class="form-group">
                                                        <input type="date" class="form-control"
                                                            name="date{{detalle.idedetalle}}">
                                                    </div>
                                                </td>
                                                <td>

                                                    <input type="checkbox" name="chkAceptar[]" id="chk{{detalle.idedetalle}}"
                                                        value="{{detalle.idedetalle}}" checked data-toggle="toggle"
                                                        data-on="Aceptar  " data-off="Rechazar  " data-onstyle="success"
                                                        data-offstyle="danger" data-size="small">


                                                </td>
                                                {% endif %}

                                            </tr>
                                            {%endif%}


                                            
                                            {%if detalle.pedido.idpedido == pedido.idpedido and detalle.pedido.estadopedido.idestado == 2 and detalle.estado.idestado == 2 %}
                                            <tr>
                                                <th scope="row">{{detalle.idedetalle}}</th>
                                                <td>{{detalle.producto}}</td>
                                                <td>{{detalle.cantidad}}</td>
                                                <td>${{detalle.total}}</td>
                                                {% if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2 %}
                                                <td>

                                                    <div class="form-group">
                                                        <input type="date" class="form-control"
                                                            name="date{{detalle.idedetalle}}">
                                                    </div>
                                                </td>
                                                <td>

                                                    <input type="checkbox" name="chkAceptar[]" id="chk{{detalle.idedetalle}}"
                                                        value="{{detalle.idedetalle}}" checked data-toggle="toggle"
                                                        data-on="Aceptar  " data-off="Rechazar  " data-onstyle="success"
                                                        data-offstyle="danger" data-size="small">


                                                </td>
                                                {% endif %}

                                            </tr>
                                            {%endif%}


                                            {%endfor%}
                                        </tbody>
                                    </table>
                                    <div class="card-header">
                                        <h5 id="subtotalsolicitud{{pedido.idpedido}}">Subtotal: ${{pedido.subtotal}} </h5>
                                    </div>

                                    <div class="card-header">
                                        <h5 id="ivasolicitud{{pedido.idpedido}}">IVA 19%: ${{pedido.iva}} </h5>
                                    </div>

                                    <div class="card-header">
                                        <h5 id="totalsolicitud{{pedido.idpedido}}">Total: ${{pedido.total}} </h5>
                                    </div>

                                    {% csrf_token %}
                                    {%if pedido.estadopedido.idestado == 1 and user.tipousuario.idtipousuario == 4%}
                                    <input type="text" class="form-control" name="observaciones"
                                        placeholder="Observaciones">

                                    {%endif%}

                                    {%if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2%}
                                    <input type="text" class="form-control" name="observaciones"
                                        placeholder="Observaciones">
                                    {%endif%}
                                </div>
                                <!-- Modal footer  -->
                                <div class="modal-footer">
                                    {%if pedido.estadopedido.idestado == 1 and user.tipousuario.idtipousuario == 4%}

                                    <button type="submit" name="aceptar" class="btn btn-primary">Aceptar Pedido</button>
                                    <button type="submit" name="rechazar" class="btn btn-danger">Rechazar
                                        Pedido</button>
                                    {%endif%}
                                    {%if pedido.estadopedido.idestado == 2 and user.tipousuario.idtipousuario == 2%}
                                    <button type="submit" name="recibir" class="btn btn-primary" id="confirmarEntrega{{pedido.idpedido}}">Confirmar
                                        Entrega</button>

                                    <button type="submit" name="rechazar" class="btn btn-danger">Rechazar
                                        Entrega</button>
                                    {%endif%}



                            </form>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>






                    </div>
                </div>
                </div>
            </td>
        </tr>

        {% endfor %}
        {% else %}
        <h1>No existen registros</h1>
        {% endif %}

    </tbody>

</table>

{% if estado %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if pedidos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?estado={{estado}}&page={{ pedidos.previous_page_number }}" >Anterior</a>
          </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" >Anterior</a>
          </li>
        {% endif %}
      
      {% for n in numero_paginas%}
      <li class="page-item {% active_pagination n %}"><a class="page-link" href="?estado={{estado}}&page={{n}}">{{ n }}</a></li>
      {%endfor%}
      {% if pedidos.has_next %}
        <li class="page-item">
    
            <a class="page-link" href="?estado={{estado}}&page={{ pedidos.next_page_number }}">Siguiente</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" >Siguiente</a>
            </li>
        {% endif %}
    </ul>
  </nav>
  {% else %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if pedidos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pedidos.previous_page_number }}" >Anterior</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" >Anterior</a>
            </li>
        {% endif %}
      
      {% for n in numero_paginas%}
      <li class="page-item {% active_pagination n %}"><a class="page-link" href="?page={{n}}">{{ n }}</a></li>
      {%endfor%}
      {% if pedidos.has_next %}
        <li class="page-item">
    
            <a class="page-link" href="?page={{ pedidos.next_page_number }}">Siguiente</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" >Siguiente</a>
            </li>
        {% endif %}
    </ul>
  </nav>
  {% endif %}
{%endblock%}

{%block scripts%}

<script>
    $(document).ready(function () {

        $("#buscar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>

<script>

function calcularTotal(pedido, total_detalle, chk) {
    $("#chk"+chk).on("change", function () {
            
            var checked = document.getElementById("chk"+chk).checked;
            var subtotal = parseInt(document.getElementById('subtotalsolicitud'+pedido).innerHTML.replace("Subtotal: $",''));
            var iva = 0
            var total = 0
          if (checked) {
              subtotal+=total_detalle
              
              console.log(subtotal)
          }else{
            subtotal-=total_detalle
            console.log(subtotal)
          }
            iva = Math.round(subtotal*0.19);
            total =subtotal + iva;
            document.getElementById('subtotalsolicitud'+pedido).innerHTML = 'Subtotal: $'+subtotal;
            document.getElementById('ivasolicitud'+pedido).innerHTML = 'IVA 19%: $'+iva;
            document.getElementById('totalsolicitud'+pedido).innerHTML = 'Total: $'+total;

            if (total ==0) {
                document.getElementById("confirmarEntrega"+pedido).disabled = true;
            }else{
                document.getElementById("confirmarEntrega"+pedido).disabled = false;
            }
          

        });
}


</script>
{% for pedido in pedidos %}
{% for detalle in detalles %}
{% if detalle.pedido.idpedido == pedido.idpedido %}
<script>
    
    calcularTotal({{pedido.idpedido}},{{detalle.total}}, {{detalle.idedetalle}})
</script>
{%endif%}
{% endfor %}
{% endfor %}

{%endblock%}